@import "tailwindcss";

@tailwind utilities;

/* Theming */
@layer base {
  :root {
    --color-bg: var(--color-gray-200);
    --color-text: #1f2937;
    --color-primary: #2563eb;
  }

  [data-theme="dark"] {
    --color-bg: #0f172a;
    --color-text: #f1f5f9;
    --color-primary: #3b82f6;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}