
<div class="w-screen h-screen flex items-center justify-center bg-slate-500">
  <div class="flex flex-col gap-4 max-w-md p-6 shadow rounded-xl bg-slate-200">    
  <h1><%= link_to "Welcome! Click to enter", home_path, class: "btn btn-primary" %></h1>
  <h2 class="text-xl font-semibold mb-4">Enter Your Location</h2>
  <%= render "guest_location/form" %>
  </div>
</div>
